@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@font-face {
    font-family: 'FishOutOfWater';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    url("/fonts/FishOutOfWater-Regular.woff") format("woff");
}

@font-face {
    font-family: 'FishOutOfWater';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    url("/fonts/FishOutOfWater-Bold.woff") format("woff");
}

@font-face {
    font-family: 'FishOutOfWaterDemiBold';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    url("/fonts/FishOutOfWater-Demibold.woff") format("woff");
}

p {
    font-family: 'FishOutOfWater', Arial, san-serif;
}

h1 {
    font-family: ' FishOutOfWaterDemiBold', Arial, san-serif;
}

body {
    font-family: 'Michroma', sans-serif;
    background-color: #007bff;
}

header {
    margin-top: 0;
    background-color: darkblue;
}

header, h1 {
    font-family: ' FishOutOfWaterDemiBold', Arial, san-serif;
    font-weight: bold;
    font-size: 50px;
    color: #01ffff;
    text-align: center;
    padding-top: 30px;
}

header, h2 {
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:#01ffffe4;
    text-align: center;
    padding-bottom: 30px;
}


@font-face {
  font-family: 'fish-out-of-water';
  src: url('https://www.fontbros.com/families/fish-out-of-water'); /* IE9 Compat Modes */
}

body {
  font-family: 'fish-out-of-water';
}

/* code snippet from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2_btn */
.container {
  position: relative;
} 
    
/* code snippet from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2_btn */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
} 

#game-area {
    margin-top: 250px;
}

#game-area .container {
    background-color: orange;
}

/* code snippet from https://codeinstitute.com/ Rosie resume tutorial */

#game-box-1, #game-box2, #game-box-3, #game-box-4 {
    padding: 0;
}

#game-box-2 {
    padding-left: 0;
    padding-right: 0;
}


#game-photo-1 {
    background: url("../images/beluga.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 360px;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    z-index: -1;
    text-align: center;
    width: 100%;
}

#game-photo-2 {
    background: url("../images/orca.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 360px;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    z-index: -1;
    text-align: center;
    width: 100%;
    
}

#game-photo-3 {
    background: url("../images/rightwhale.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 360px;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    z-index: -1;
    text-align: center;
    width: 100%;
   
} 

#game-photo-4 {
    background: url("../images/spermwhale.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 360px;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    z-index: -1;
    text-align: center;
    width: 100%;
 
}

.btn {
    border: 10px solid #00ffff;
    padding-right: 150px;
    padding-left: 150px;
    border-radius: 0;
}

.btn p {
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: azure;
}

.btn-warning {
    color: #7dfff4;
    background-color: #004085;
    border-radius: 1rem;
    font-family: 'Michroma';
    font-weight: bold;
    font-size: 28px;
}




